.input-form {
    background-color: #f5f5fb;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    transition: transform 0.3s linear;
    box-sizing: border-box;
	letter-spacing: 1px;
    color: #050505;
    font-weight: 400;
}

.input-form::placeholder {
    color: #ccc;
}

/* INPUT WITH ICON */
.input-group {
    position: relative;
    color: #ccc;
    width: 100%;
}

.input-group svg {
    position: absolute;
    padding: 10px;
    min-width: 50px;
}

/** OTHER STYLES **/
.container-subs-form { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.input-subscribe {
    width: 76%;
    height: 40px;
    font-size: .95rem;
    margin-right: 15px;
}

.input-group-newsletter {
    position: relative;
    color: #ccc;
    width: 70%;
    margin: 15px 0;
}

.input-group-newsletter i {
    position: absolute;
    padding: 17px;
    min-width: 50px;
    font-size: 1rem;
}

.input-group-newsletter input {
    width: 100%;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    padding: 15px 10px 15px 50px;
    background-color: #f5f5f5;
    line-height: 22px;
    font-size: 1.1rem;
    outline: none;
}

/* Mobile devices */
@media (min-width:320px) and (max-width: 480px) {
    .input-group-newsletter {
        width: 100%;
    }

    .input-subscribe {
        width: 70%;
        margin-right: 10px;
    }
}
/* iPads, Tablets */
@media (min-width:481px) and (max-width: 768px) {
    .container-subs-form {
        flex-flow: column nowrap;
    }

    .input-subscribe {
        width: 75%;
    }
}
/* Small screens, laptops */
@media (min-width:769px) and (max-width: 1024px) {
    .input-subscribe {
        width: 68%;
        margin-right: 12px;
    }
}