.container-animation {
    width: 100%;
    background-color: transparent;
    padding: 25px 0;
    margin-bottom: 20px;
    height: 620px;
}

.shape {
    width: 100%;
    position: relative;
    z-index: 0;
}

.shape img {
    position: absolute;
    width: 100%;
}

.shape .emoji1 {
    width: 200px;
    opacity: .8;
    animation: bounce 1.2s ease-in infinite;
}

.shape .emoji2 {
    width: 200px;
    opacity: .8;
    right: 0;
    top: 10rem;
    animation: bounce-2 1.2s ease-in infinite;
}

.shape .emoji3 {
    top: 16rem;
    right: 20rem;
    width: 200px;
    opacity: .8;
    animation: ballMovement 1.2s ease-in infinite;
}

.shape-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 30;
}

.shape-text p {
    font-size: 5rem;
    font-weight: 600;
    color: #1C1F3D;
}

.animate__animated.animate__pulse,
.animate__animated.animate__slideInUp {
    --animate-duration: 1s;
}

.typing-demo {
    width: 22ch;
    animation: typing 2s steps(22) infinite, blink .5s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

@keyframes bounce-2 {
    0%,
    100% {
      transform: scale(1.5, 0.5);
    }
    20% {
      transform: scaleY(1.2);
    }
    40%,
    80% {
      transform: translateY(-11rem);
    }
    70% {
      transform: translateY(12rem);
    }
    90% {
      transform: translateY(0);
    }
}

@keyframes bounce33 {
	0% {top: 0;
		-webkit-animation-timing-function: ease-in;
        transform: scale(1.5, 0.5);
	}
	40% {transform: scaleY(1.2);}
	50% {top: 140px;
		-webkit-animation-timing-function: ease-out;
	}
	55% {top: 250px;
		-webkit-animation-timing-function: ease-in;}
	65% {top: 120px;
        transform: scale(0.5, 0.15);
		-webkit-animation-timing-function: ease-out;}
	95% {
		top: 0;		
        transform: scale(1.5, 0.6);
		-webkit-animation-timing-function: ease-in;
	}
	100% {top: 0;
		-webkit-animation-timing-function: ease-in;
        transform: scale(1.5, 0.5);
	}
}

@keyframes bounce {
    0%,
    100% {
      transform: scale(1.5, 0.5);
    }
    20% {
      transform: scaleY(1.2);
    }
    40%,
    80% {
      transform: translateY(-14rem);
    }
    70% {
      transform: translateY(-15rem);
    }
    90% {
      transform: translateY(0);
    }
  }

  @keyframes ballMovement {
    0% {
      transform: translate(14rem, -15rem);
    }
    15% {
      transform: translate(7rem, 0rem) scale(1.2, 0.5);
    }
    30% {
      transform: translate(2rem, -10rem) scale(1, 1);
    }
    45% {
      transform: translate(-2rem, 0rem) scale(1.2, 0.8);
    }
    60% {
      transform: translate(-5rem, -5.5rem) scale(1, 1);
    }
    75% {
      transform: translate(-8rem, 0rem) scale(1.1, 0.9);
    }
    100% {
      transform: translate(-14rem, -3rem) scale(1, 1);
    }
  }

@keyframes jump {
    0% {
        top: 20px;
        left: 0;
    }

    30% {
        bottom: 5rem;
        left: 0;
    }

    60% {
        right: 3rem;
        bottom: -40px;
    }

    100% {
        top: 205px;
        left: 0;
    }
}

@keyframes shape3 {
    0%   {top: 10px;}
    20%  {top: -150px;}
    40%  {top: -300px;}
}

@keyframes shape2 {
    0% {
        top: 10px;
        right: 0;
    }

    25% {
        top: 100px;
        left: 20%;
    }

    50% {
        top: 0px;
        left: 40%;
    }

    75% {
        top: 100px;
        left: 60%;
    }

    100% {
        top: 0px;
        left: 80%;
    }
}

@keyframes shape {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 100px;
        left: 20%;
    }

    50% {
        top: 0px;
        left: 40%;
    }

    75% {
        top: 100px;
        left: 60%;
    }

    100% {
        top: 0px;
        left: 80%;
    }
}

@media (max-width: 768px) {
    .shape-text p {
        font-size: 2.5rem;
    }
}