.input-form {
    background-color: #f5f5fb;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    transition: transform 0.3s linear;
    box-sizing: border-box;
	letter-spacing: 1px;
    color: #050505;
    font-weight: 400;
}

.input-form::placeholder {
    color: #ccc;
}

/** OTHER STYLES **/
.container-subs-form { 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.input-subscribe {
    width: 76%;
    height: 40px;
    font-size: .95rem;
    margin-right: 15px;
}

@media (max-width: 768px) {
    .container-subs-form {
        flex-flow: column nowrap;
    }

    .input-subscribe {
        width: 75%;
    }
}